**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/Dockerfile
**/Thumbs.db

**/node_modules
*.code-workspace
*.workspace
.editorconfig
.github
.idea/
**/.task

**/auth.json
