# Parameters
/.env

# Docker environments
docker-compose.override.yaml
.docker-sync
/docker/dev/php/xdebug.env

# OS
**/.DS_Store
**/Thumbs.db

# Text editors & IDEs
**/.idea/
**/nbproject/
**/*.workspace
**/*.code-workspace
**/*.vscode/

# Tools
**/.task/

# secrets
auth.json
